Source: astroberry-server-artwork
Section: x11
Priority: extra
Maintainer: Radek Kaczorek <rkaczorek@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.4.7), cmake
Standards-Version: 3.9.1
Homepage: http://www.astroberry.io/

Package: astroberry-server-artwork
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Astroberry Server artwork
